 /* ANIMACIONES */
 /* estilos de section */

 /* ****************************************************** */
 /* VERSION MOBILE */

 main h2 {
     animation-name: texto-gira;
     animation-iteration-count: infinite;
     animation-duration: 5s;
     animation-delay: .5s;
     /* animation-direction: alternate-reverse; */
 }

 @keyframes texto-gira {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(2deg) skew(10deg);
     }

     50% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(-2deg) skew(-10deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }

 main h3 {
     animation-name: texto-desliza;
     animation-iteration-count: infinite;
     animation-duration: 4.5s;
     animation-delay: .5s;
 }

 @keyframes texto-desliza {
     0% {
         transform: translateX(0);

     }

     25% {
         transform: translateX(50%);
     }

     50% {
         transform: translateX(0);
     }

     75% {
         transform: translateX(-50%);
     }

     100% {
         transform: translateX(0);
     }
 }


 /* ****************************************************** */
 /* VERSION DESKTOP */
 @media screen and (min-width:1024px) {

     main .texto_emph {
         animation-name: texto-latido;
         animation-iteration-count: infinite;
         animation-duration: 3s;
         animation-delay: .5s;
         animation-direction: alternate-reverse;
     }

     @keyframes texto-latido {
         from {
             transform: scale(.9);
         }

         to {
             transform: scale(1);
         }
     }

     main h3 {
         animation-name: texto-desliza;
         animation-iteration-count: infinite;
         animation-duration: 3.5s;
         animation-delay: .5s;
     }

     @keyframes texto-desliza {
         0% {
             transform: translateX(0);
         }


         50% {
             transform: translateX(20rem);
         }

         100% {
             transform: translateX(0);
         }
     }

 }