/* PAGINA - HOME */

/* ****************************************************** */
/* VERSION DESKTOP */
@media screen and (min-width:1024px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2.5fr .5fr;
        margin: 5px;
        padding: 10px 20px 10px 20px;
        word-wrap: break-word;
        /* text-align: justify; */
        /* box-shadow: 2px 2px 5px #d7d5d5fb; */
        grid-template-areas:
            "carousel container_texto"
            "container_texto_mision container_texto_mision";
    }

    /* Estilo carrusel home */
    main #carouselFade {
        margin-bottom: 20px;
        width: 500px;
        box-shadow: 2px 2xp 6px #fef72ae0;
        grid-area: carousel;
    }

    /* Formato Textos */
    main .container_texto {
        grid-area: container_texto;
    }

    main .container_texto h1 {
        text-align: left;
    }

    main .container_texto_mision {
        grid-area: container_texto_mision;
    }

    main .container_texto_mision h1 {
        text-align: left;
    }

    main .texto_emph {
        font-size: 1.5rem;
        text-align: center;
    }

    /* Formato Botón Regreso */
    .volver {
        display: none;
    }

}