// condicionales

@mixin condicion ($colores-dos) {
    background-color: $colores-dos;

    // condicion
    @if $colores-dos ==tomato {
        border: 1px solid black;
        padding: 2rem;
    }

    @else {
        border: 2px solid white;
        padding: 4rem;
    }

}